# Python cache files
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
env/

# IDE/editor folders
.vscode/
.idea/

# pytest cache
.pytest_cache/

# Byte-compiled / optimized / DLL files
*.so
*.dylib
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/

# MacOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db
